:root {
    --main-colour: #D8125B; /*Fuchisa*/
    --secondary-colour: #2C2E39; /*Dark Grey*/
    --accent-colour1: #FBF5E5; /*Old Lace*/
    --accent-colour2: #0d031b; /*Obsidian Black*/
}

body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
    color: var(--accent-colour2);
}

/*HEADER*/
header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--main-colour);
    color: var(--accent-colour1);
    font-weight: 600;
    padding: 8px;
}

#logo-title {
    display: flex;
    gap: 1rem;
}

.logo {
    width: auto;
    height: 100px;
}

h1 {
    font-size: 4.5rem;
    margin: 15px 0;
    padding: 0;
    text-shadow: 4px 4px 0px rgba(44,46,57,0.5);
}

nav {
    display: flex;
    align-items: center;
    margin-right: 2.5rem;
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

nav a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--accent-colour1);
    margin: 0;
    padding: 8px;
    background-color: var(--secondary-colour);
    border-radius: 5px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0 ,0.5);
}

nav a:hover {
    color: var(--main-colour);
    text-shadow: 1px 1px 1px rgb(251, 245, 229);
}

/*FOOTER*/
footer {
    grid-column: 1 / 4;
    text-align: center;
    background-color: var(--main-colour);
    color: var(--accent-colour1);
    font-weight: 600;
    padding: 1px;
    padding-top: 20px;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.social {
    height: 3.5rem;
    width: auto;
}

#lastModified {
    font-size: small;
}