/*BASE QUALITIES*/
:root {
    --main-colour: #A1BBA2; /*Laurel Green*/
    --secondary-colour: #F7E5E3; /*Misty Rose*/
    --accent-colour: #C3A59D; /*Tuscany*/
}

body {
    font-family: "Domine", serif;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unbold {
    font-weight: 400;
}

/*FORM*/
#form-container {
    max-width: 500px;
    width: 100%;
    text-align: center;
}

form {
    background-color: var(--secondary-colour);
    padding: 1px 15px 15px 15px;
    margin: 10px 0 10px 0;
    border-radius: 10px;
}

section {
    padding: 0 0 10px 0;
}

label, legend {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

fieldset {
    border: none;
    padding: 0;
    margin: 1rem 0 0 0;
}

legend {
    margin-bottom: -5px;
}

#product, #date, #review, #name {
    width: 100%;
    box-sizing: border-box;
    padding: .75rem;
    font-size: 1rem;
    border: 2px solid var(--accent-colour);
    border-radius: 10px;
}

input[type='radio'], input[type="checkbox"] { 
    transform: scale(1.75);
    margin: 0 1rem;
}

select, input {
    cursor: pointer;
}

#name {
    cursor: text;
}

#submit-button {
    border: 2px solid var(--main-colour);
    border-radius: 10px;
    padding: 1rem;
    margin: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    width: 50%;

    background-color: white;
    color: black;
}

#submit-button:hover {
    background-color: var(--main-colour);
    border-color: black;
    color: white;
}

/*HEADER + FOOTER*/
header, footer {
    grid-column: 1 / 4;
    background-color: var(--main-colour);
    color: black;
    padding: 1px;
}
#lastModified {
    font-size: small;
}