/* HEADER */
header {
    background-color: var(--secondary-colour);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
}


/* NAV */
#menu {
	display: none;
}

nav {
    background-color: grey;
    padding: 1rem;
    border: 2px solid black;
}

.navigation {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 2rem;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: var(--accent-colour);
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}