body {
    font-family: "Roboto", sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 20px;
    background-color: #3066be; /*A nice blue*/
    color: white;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: .5rem;
    background-color: aliceblue;
    color: black;
}